/* Colors */
/* Navbar */
#navbar {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FFFFFF;
  border: none;
  margin-bottom: 0;
  box-shadow: 0px 1px 2px 0px rgba(114, 114, 116, 0.69); }

#navbar img {
  width: 200px; }

#navbar .navbar-brand {
  height: auto;
  padding: 0; }

nav .navbar-nav > li {
  padding-top: 1rem; }

nav .navbar-nav > li > a {
  padding: 0; }

nav .navbar-nav .listNavbar > a {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #939393;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 59px; }
  nav .navbar-nav .listNavbar > a:hover {
    color: #cf1e34; }

#nav-tel {
  color: #939393;
  font-family: "AvenirNextMedium", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding-left: 19px;
  padding-right: 0.7rem; }

/* Header */
header {
  background-image: url(../images/bg.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover; }

header > h2 {
  margin-left: 4rem;
  margin-bottom: 0.7rem; }

#subtitle-header {
  margin-bottom: 42px; }

header .divider {
  background-color: transparent;
  border-bottom: 1px solid #979797;
  margin-bottom: 2.7rem;
  padding-left: 0; }

a#btn-reviews {
  float: left; }

/* code for animated blinking cursor */
header .divider .typed-cursor {
  opacity: 1;
  color: rgba(0, 197, 149, 0.46);
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
header .divider .type-wrap {
  color: white;
  padding-top: 70px;
  font-family: 'AvenirNextDemiBold', Helvetica, sans-serif;
  font-size: 101pt;
  display: block; }

header h2 {
  font-family: "AvenirNextLight", Helvetica, sans-serif;
  font-size: 17px;
  color: #fff;
  margin-bottom: 0; }

header h2 > strong {
  font-family: "AvenirNextDemiBold", Helvetica, sans-serif; }

header > a {
  padding: 0.5rem 0rem 0rem 4rem; }

header form {
  margin-bottom: 8rem; }

header form .input div {
  padding: 0;
  padding-left: 2px; }

header form .input div:first-child {
  padding-left: 0;
  padding-right: 2px; }

header form input {
  width: 100%; }

#submitForm {
  margin-top: 0.7rem; }

header .row-form {
  position: relative; }

header .row-form .btn-reviews {
  position: absolute;
  bottom: 8rem;
  right: 0; }

header .row-form .btn-reviews img {
  width: 14rem; }

@media (max-width: 767px) {
  header .divider {
    padding-left: 15px; }
    header .divider .type-wrap {
      font-size: 80pt; }
  header .no-padding {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  header form .input div {
    padding-left: 15px;
    padding-right: 15px; }
    header form .input div:first-child {
      padding-left: 15px;
      padding-right: 15px; } }
/* Title */
.bigTitle {
  font-family: "AvenirNextRegular", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 7px;
  line-height: 46px; }

.mediumTitle {
  font-family: "AvenirNextRegular", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 7px; }

.smallTitle {
  font-family: "ProximaNovaRegular", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #2C2E31; }

/* components */
.list-inline > li {
  display: inline-block;
  text-decoration: none; }

.align-center {
  text-align: center; }

.no-padding {
  padding: 0px; }

.padding-top {
  padding-top: 3rem; }

/* Btn */
.btn-radiusRed {
  border-radius: 50px;
  background-color: #cf1e34;
  padding: 0.7rem 2rem 0.7rem 2rem;
  text-decoration: none;
  color: white;
  font-family: "AvenirNextRegular", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px; }
  .btn-radiusRed:hover {
    background-color: #eb4e4e; }

.btn-radiusEmerald {
  display: inline-block;
  border-radius: 50px;
  background-color: #00c595;
  padding: 9px 28px 10px 28px;
  text-decoration: none;
  border: none;
  color: white;
  font-family: "AvenirNextRegular", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px; }
  .btn-radiusEmerald:hover {
    background-color: #0fb48c;
    color: white; }

/* form */
.form {
  padding: 10px 37px 10px 15px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #999999;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-family: "AvenirNextLight", Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 0.5rem;
  color: #FFFFFF;
  width: 100%; }

::-webkit-input-placeholder {
  color: #FFFFFF; }

::-moz-placeholder {
  color: #FFFFFF; }

:-ms-input-placeholder {
  color: #FFFFFF; }

:-moz-placeholder {
  color: #FFFFFF; }

.text-area {
  height: 11rem;
  padding-top: 0.7rem; }

/* Footer form */
.form-footer .input .col-md-6 {
  padding-left: 2px; }
  .form-footer .input .col-md-6:first-child {
    padding-left: 15px;
    padding-right: 2px; }

.btn-fullEmerald {
  background: #00C595;
  border-radius: 8px;
  border: none;
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 1rem;
  padding: 0.9rem 0rem 0.9rem 0rem;
  width: 100%; }

/* Second Divider */
.padding-divider {
  padding-top: 8rem;
  padding-bottom: 8rem; }

.bg-gray {
  background-color: #6E7982; }

.twoSubTitle-divider {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 11px;
  color: #FFFFFF;
  letter-spacing: 1.6px; }

.twoTitle-divider {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 3.9px; }

.bg-gray > div > div > h2 {
  margin: 0px; }

/* Avenir Next */
@font-face {
  font-family: 'AvenirNextLight';
  src: url("../fonts/AvenirNextLTPro-Light.otf");
  font-weight: 200; }
@font-face {
  font-family: 'AvenirNextRegular';
  src: url("../fonts/AvenirNext-Regular.otf");
  font-weight: 300; }
@font-face {
  font-family: 'AvenirNextMedium';
  src: url("../fonts/AvenirNext-Medium.eot"), url("../fonts/AvenirNextMedium.woff2"), url("../fonts/AvenirNext-Medium.woff"), url("../fonts/AvenirNext-Medium.otf"), url("../fonts/AvenirNext-Medium.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url("../fonts/AvenirNext-DemiBold.otf");
  font-weight: 500; }
/* Proxima nova */
@font-face {
  font-family: 'ProximaNovaThin';
  src: url("../fonts/ProximaNovaT-Thin.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova-Light.otf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova-Regular.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url("../fonts/ProximaNova-Semibold.otf");
  font-weight: 400;
  font-style: normal; }
/* ACaslonPro */
@font-face {
  font-family: 'Caslon';
  src: url("../fonts/ACaslonPro-Regular.otf");
  font-weight: 400;
  font-style: normal; }
footer {
  background-color: #46474C;
  padding-top: 6rem; }

.footerTitle {
  font-family: 'AvenirNextDemiBold', Helvetica, sans-serif;
  font-size: 11px;
  color: #7D7E83; }

.footerLi {
  padding: 0px; }

.footerLi > li {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  line-height: 21px;
  font-size: 11px;
  color: #9FA3A9;
  list-style: none; }

.footerP {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 11px;
  color: #8C8C8C;
  text-align: center;
  margin: 0px; }

.legalText {
  margin-top: 4rem;
  background-color: #3E3F44;
  padding: 1.5rem 0rem 1.5rem 0rem; }

.form-footer > div > div > input {
  font-size: 12px; }

/* Carousel Bootstrap */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
#textCarroussel {
  padding: 140px 0 120px 0;
  background: linear-gradient(-90deg, #6E7982 1%, #8697A5 99%); }

#textCarroussel .carousel {
  background-color: transparent; }

/* Since positioning the image, we need to help out the caption */
#textCarroussel .carousel-caption {
  z-index: 10;
  position: static;
  text-shadow: none; }

/* Declare heights because of positioning of img element */
#textCarroussel .carousel .item {
  background: transparent; }

.carousel-control.left, .carousel-control.right {
  background: none; }

.carousel-control {
  width: 8%; }

.carousel-control img {
  position: absolute;
  top: 45%; }

.carousel-control:hover {
  background: none; }

#textCarroussel .carousel-caption p {
  text-transform: uppercase;
  text-align: left;
  font-family: 'AvenirNextMedium';
  font-size: 35pt;
  color: #FFFFFF;
  letter-spacing: 6.54px;
  margin-bottom: 0;
  line-height: 1.2; }

#textCarroussel .carousel-caption p:last-child {
  margin-top: 40px;
  font-size: 19px;
  color: #D9D9D9;
  letter-spacing: 2.88pt; }

/* I NEED A BUSINESS PLAN SERVICE FOR MY VISA */
/* Title */
#titleProduct {
  color: #6E7982;
  padding-top: 5rem;
  padding-bottom: 1rem; }

#underlineProduct {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(-90deg, #EEEEEE 80%, #00C595 100%);
  margin-bottom: 3rem; }

/* Products */
.product {
  display: inline-block;
  padding: 0px 33px 0px 21px; }

#E2 > h2 {
  color: #3387FB; }

#L1 > h2 {
  color: #4dce46; }

#EB5 > h2 {
  color: #2eca9c; }

.product > h2 {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 48px;
  padding-top: 1.5rem; }

.product > h3 {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 22px;
  color: #939393;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  line-height: 30px; }

.product > p {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 15px;
  color: #7B7C7E;
  line-height: 24px;
  padding-top: 3rem;
  padding-bottom: 6rem; }

.productDivider {
  width: 100%;
  height: 1px;
  background: #C2C2C2; }

/* Call to Action Bottom */
#cta-E2 {
  background: linear-gradient(-90deg, #3387FB 0%, #4794FD 100%);
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

#cta-L1 {
  background: linear-gradient(-90deg, #4DCE46 0%, #78D858 100%);
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

#cta-EB5 {
  background: linear-gradient(-90deg, #2ECA9C 0%, #20C4C6 100%);
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0; }

/* Btn Others Visas */
#othersVisas {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 22px;
  color: #939393;
  text-decoration: underline;
  display: inline-block;
  line-height: 25px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem; }
  #othersVisas:hover {
    color: #7B7C7E; }

/* Hover products */
#E2 {
  position: relative;
  transition-duration: 0.2s; }

#L1 {
  position: relative;
  transition-duration: 0.2s; }

#EB5 {
  position: relative;
  transition-duration: 0.2s; }

#E2:hover #cta-E2 {
  height: 30px;
  padding: 7px; }

#E2:hover h2 {
  color: white; }

#E2:hover h3 {
  color: white; }

#E2:hover p {
  color: white; }

#L1:hover #cta-L1 {
  height: 30px;
  padding: 7px; }

#L1:hover h2 {
  color: white; }

#L1:hover h3 {
  color: white; }

#L1:hover p {
  color: white; }

#EB5:hover #cta-EB5 {
  height: 30px;
  padding: 7px; }

#EB5:hover h2 {
  color: white; }

#EB5:hover h3 {
  color: white; }

#EB5:hover p {
  color: white; }

.product:hover {
  background-color: #6E7982; }

.product .cta img {
  position: absolute;
  left: -50px;
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s; }

.product:hover .cta img {
  -ms-transform: translate(70px, 0px);
  /* IE 9 */
  -webkit-transform: translate(70px, 0px);
  /* Safari */
  transform: translate(70px, 0px); }

#getAnswer {
  background-color: #6e7982;
  background-image: url("../images/pointInt.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 18% 0; }
  #getAnswer .left, #getAnswer .right {
    padding-top: 10rem;
    padding-bottom: 10rem; }
  #getAnswer .left {
    color: white;
    padding-left: 70px;
    padding-right: 70px; }
    #getAnswer .left h2 {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 37px;
      color: #FFFFFF;
      line-height: 51px;
      text-transform: uppercase; }
    #getAnswer .left p {
      font-family: "AvenirNextMedium", Helvetica, sans-serif;
      font-size: 15px;
      color: #F7F7F7;
      line-height: 24px; }
      #getAnswer .left p a {
        color: #F7F7F7;
        text-decoration: none; }
  #getAnswer .right .button-cont {
    list-style: none;
    margin-bottom: 50px;
    padding: 0 50px; }
    #getAnswer .right .button-cont li {
      list-style: none;
      display: inline-block;
      padding: 0 25px; }
    #getAnswer .right .button-cont .button {
      padding: 7px 20px;
      width: 100%;
      display: block;
      text-align: center;
      font-family: "AvenirNextMedium", Helvetica, sans-serif;
      font-size: 16px;
      color: #FFFFFF;
      background-color: #59636B;
      border: 1px solid #FFFFFF;
      border-radius: 100px; }
      #getAnswer .right .button-cont .button:hover {
        background: #434E58;
        border: 1px solid #fefcfd;
        text-decoration: none; }
  #getAnswer .right .bulle {
    background-image: url("../images/rect-gradrian-border.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px 60px; }
    #getAnswer .right .bulle a {
      text-decoration: none; }
      #getAnswer .right .bulle a:hover {
        text-decoration: none; }
    #getAnswer .right .bulle h3 {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 19px;
      color: #058FFF;
      margin-top: 0; }
    #getAnswer .right .bulle p {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 14px;
      color: #6E7982; }
    #getAnswer .right .bulle ul {
      padding-left: 25px; }
      #getAnswer .right .bulle ul li {
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 13px;
        color: #BDBFC2;
        line-height: 20px; }
  #getAnswer .right button {
    background: #EB4E4E;
    border-radius: 5px;
    font-family: 'AvenirNextMedium', Helvetica, sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 1.8px;
    border: none;
    text-transform: uppercase;
    padding: 5px 20px;
    float: right;
    margin-right: 40px;
    margin-top: 10px; }

#Drafting {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F8F9FB; }
  #Drafting h2 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 39px;
    color: #2C2E31;
    margin-top: 0;
    width: 100%;
    text-align: center; }
  #Drafting h3 {
    font-family: 'ProximaNovaThin', Helvetica, sans-serif;
    font-size: 38px;
    color: #2C2E31;
    width: 100%;
    text-align: center; }
  #Drafting #underline {
    height: 1px;
    width: 50px;
    margin: 0 auto;
    background-color: #2C2E31;
    margin-top: 15px; }

#reason {
  padding-top: 70px;
  padding-bottom: 70px; }
  #reason h2, #reason h3 {
    width: 100%;
    text-align: center; }
  #reason h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    text-transform: uppercase; }
  #reason h3 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 14px;
    color: #939393;
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 12rem; }
  #reason .left img {
    width: 80%; }
  #reason .right > .row {
    margin-top: 70px; }
  #reason .right > .row:first-child {
    margin-top: 0px; }
  #reason .right .number, #reason .right .text {
    display: inline-block; }
  #reason .right .number, #reason .right .text h4 {
    color: #00c595; }
  #reason .right .number {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 8.47px; }
  #reason .right .text {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif; }
    #reason .right .text h4 {
      font-size: 13px;
      letter-spacing: 2.3px;
      width: auto; }
    #reason .right .text p {
      font-size: 15px;
      color: #939393;
      letter-spacing: 1.1px;
      line-height: 19px;
      width: auto;
      margin-top: 15px; }

#icons {
  background-color: #f8f9fb;
  text-align: center;
  padding-top: 150px;
  font-family: 'ProximaNovaRegular', Helvetica, sans-serif; }
  #icons img {
    height: 67px; }
  #icons h2 {
    margin-top: 90px;
    font-size: 30px;
    color: #2c2e31; }
  #icons h3 {
    font-size: 17px;
    color: #939393;
    margin-bottom: 90px; }
  #icons h4 {
    font-size: 17px;
    color: #2c2e31;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 36px; }
  #icons p {
    font-size: 15px;
    color: #939393;
    letter-spacing: 1.1px;
    line-height: 19px;
    height: 180px;
    padding: 10px 10px 0px 10px; }

#sample {
  background-color: #f8f9fb;
  padding-top: 100px;
  padding-bottom: 100px; }
  #sample h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    margin-bottom: 70px; }
  #sample .hovereffect {
    width: 371px;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto; }
    #sample .hovereffect .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      background-color: transparent;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    #sample .hovereffect:hover .overlay {
      background: rgba(33, 33, 33, 0.24); }
    #sample .hovereffect img {
      display: block;
      position: relative; }
    #sample .hovereffect h3 {
      font-family: 'AvenirNextDemiBold', Helvetica, sans-serif;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 25px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.36);
      -webkit-transform: translateY(45px);
      -ms-transform: translateY(45px);
      transform: translateY(45px);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      margin-top: 60px; }
    #sample .hovereffect:hover h3 {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }
    #sample .hovereffect a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      font-weight: normal;
      margin: -25% 0 0 0;
      padding: 29% 38%; }
    #sample .hovereffect:hover a.info {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
    #sample .hovereffect a.info:hover {
      box-shadow: 0 0 5px #fff; }

#howWeWork {
  padding-top: 100px;
  padding-bottom: 100px; }
  #howWeWork h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px; }
  #howWeWork h3 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 14px;
    color: #939393;
    letter-spacing: 1px;
    line-height: 19px;
    margin-bottom: 5rem; }
  #howWeWork .left > div > div {
    margin-top: 50px; }
  #howWeWork .left h4 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 13px;
    color: #eb4e4e;
    letter-spacing: 2.30px; }
  #howWeWork .left p {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 14px;
    color: #939393;
    letter-spacing: 1px;
    line-height: 19px; }
  #howWeWork .left img {
    display: block;
    height: 35px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; }
  #howWeWork .left .number {
    width: 100%;
    text-align: center;
    display: block;
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 13px;
    color: #eb4e4e; }
  #howWeWork .right {
    padding-top: 100px;
    text-align: center; }
    #howWeWork .right img {
      width: 100%; }

#emeraldDivider {
  background-color: #2eca9c;
  text-transform: uppercase; }

#carouselRow {
  background-color: #f8f9fb;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; }
  #carouselRow #wrapper {
    width: 100%;
    overflow: hidden; }
    #carouselRow #wrapper #carousel > div {
      width: 554px;
      margin: 20px 30px;
      float: left;
      position: relative;
      opacity: 0.5;
      background: white;
      border: 1px solid #E6E6E6;
      border-radius: 8px;
      padding: 20px 30px; }
      #carouselRow #wrapper #carousel > div.selected {
        opacity: 1; }
      #carouselRow #wrapper #carousel > div img {
        height: 55px; }
      #carouselRow #wrapper #carousel > div h3 {
        font-family: 'AvenirNextDemiBold', Helvetica, sans-serif;
        font-size: 22px;
        color: #00c595;
        margin: 0 0 20px 0;
        display: inline-block; }
      #carouselRow #wrapper #carousel > div p {
        font-family: 'Caslon', serif;
        font-size: 17px;
        color: #2C2E31;
        letter-spacing: 0.7px;
        padding: 20px 0 0 0; }
      #carouselRow #wrapper #carousel > div span.date {
        display: block;
        font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
        font-size: 10px;
        color: #939393; }
    #carouselRow #wrapper #prev, #carouselRow #wrapper #next {
      background: center center no-repeat transparent;
      display: block;
      width: 38px;
      height: 72px;
      margin-top: -30px;
      position: absolute;
      background-size: contain;
      top: 50%;
      z-index: 5; }
      #carouselRow #wrapper #prev.disabled, #carouselRow #wrapper #next.disabled {
        opacity: 0.2;
        cursor: default; }
        #carouselRow #wrapper #prev.disabled:hover, #carouselRow #wrapper #next.disabled:hover {
          background-color: transparent; }
    #carouselRow #wrapper #prev {
      background-image: url("../images/arrowLeft.svg");
      left: 2%; }
    #carouselRow #wrapper #next {
      background-image: url("../images/arrowRight.svg");
      right: 2%; }

#logo {
  padding-top: 100px;
  padding-bottom: 100px; }
  #logo h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: 0; }
  #logo #underline {
    height: 1px;
    width: 60%;
    margin: 0 auto;
    background-color: #E6E6E6;
    margin-top: 40px;
    margin-bottom: 40px; }
  #logo .logo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px; }
    #logo .logo > div {
      padding: 50px 0; }
    #logo .logo .all {
      border: solid 1px #E6E6E6; }
    #logo .logo .top {
      border-top: solid 1px #E6E6E6; }
    #logo .logo .bottom {
      border-bottom: solid 1px #E6E6E6; }
    #logo .logo .left {
      border-left: solid 1px #E6E6E6; }
    #logo .logo .right {
      border-right: solid 1px #E6E6E6; }
  #logo h3, #logo h4 {
    margin: 0; }
  #logo h3 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 22px;
    color: #2c2e31; }
  #logo h4 {
    margin-top: 15px;
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 14px;
    color: #939393;
    letter-spacing: 1px;
    line-height: 19px; }
  #logo a.btn-radiusEmerald {
    padding: 7px 30px; }
    #logo a.btn-radiusEmerald:hover {
      text-decoration: none; }

@media (max-width: 767px) {
  #getAnswer .left {
    padding-top: 10rem;
    padding-bottom: 2rem; }
  #getAnswer .right {
    padding-top: 2rem;
    padding-bottom: 10rem; }
    #getAnswer .right .button-cont {
      padding: 0 5px; }
      #getAnswer .right .button-cont li {
        padding: 0px 5px; }

  #howWeWork h2, #howWeWork h3 {
    text-align: center; }

  .form-footer .input .col-md-6 {
    padding-left: 15px !important; }
    .form-footer .input .col-md-6:first-child {
      padding-left: 15px !important;
      padding-right: 15px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  #textCarroussel .carousel-caption {
    bottom: 40px;
    left: 10%;
    right: 10%; }

  #products .product h3 {
    min-height: 73px; }

  #getAnswer .right .button-cont {
    padding: 0 10px; }
    #getAnswer .right .button-cont li {
      padding: 0 5px; }
  #getAnswer .right .bulle {
    background-size: 100% 100%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #getAnswer .right .button-cont {
    padding: 0 5px; }
    #getAnswer .right .button-cont li {
      padding: 0 5px; } }
#headerAbout {
  background-image: url(../images/pageAbout-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; }

/* First divider */
.white-divider {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 32px;
  color: #69747E;
  letter-spacing: 5px;
  line-height: 48px;
  text-transform: uppercase;
  padding: 4.5rem 0rem 4.5rem 0rem; }

/* Texte */
.textAbout1 {
  padding-top: 8rem;
  padding-bottom: 6rem; }

.textAbout1 > div > div > h2 {
  color: #eb4e4e;
  padding-bottom: 3rem; }

.textAbout1 > div > ul > li {
  color: #eb4e4e;
  list-style: none;
  padding-bottom: 2rem;
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 14px; }

.pAbout {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 14px;
  color: #6E7982;
  line-height: 22px; }

/* Red Divider */
#redDivider {
  background: linear-gradient(-90deg, #D83543 0%, #F35352 100%); }

#headerProductE2 {
  padding-top: 200px;
  padding-bottom: 150px;
  background-image: url("../images/bgE2.jpg"); }
  #headerProductE2 h1 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 31px;
    color: #2c2e31; }
  #headerProductE2 h2 {
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-size: 16px;
    color: #4B4B4B;
    margin-bottom: 70px; }
  #headerProductE2 p {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    margin-bottom: 70px; }
  #headerProductE2 a {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 16px;
    color: #3387FB; }
    #headerProductE2 a img {
      margin-right: 15px; }

#detailsE2 {
  padding-top: 20px;
  padding-bottom: 150px; }
  #detailsE2 h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    margin-bottom: 50px; }
  #detailsE2 #underline {
    height: 50px;
    border-top: solid 1px #e6e6e6; }
  #detailsE2 #card {
    border: 1px solid #E6E6E6;
    border-radius: 4px; }
  #detailsE2 .left {
    padding: 0; }
    #detailsE2 .left img {
      width: 100%; }
  #detailsE2 .right {
    padding-top: 70px; }
    #detailsE2 .right p {
      font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
      font-size: 14px;
      color: #2c2e31; }
    #detailsE2 .right ul {
      padding-left: 15px; }
    #detailsE2 .right li {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 13px;
      color: #2c2e31;
      letter-spacing: 2.30px;
      text-transform: uppercase;
      line-height: 2;
      padding-left: 10px; }
      #detailsE2 .right li.light {
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 13px;
        color: #4B4B4B;
        letter-spacing: 2.30px; }
    #detailsE2 .right button {
      background: linear-gradient(-90deg, #1E579A 0%, #2367B5 100%);
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 16px;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 7px 15px;
      margin-top: 20px; }

#thingRememberE2 {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  #thingRememberE2 h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 80px; }
  #thingRememberE2 img {
    width: 70%; }
  #thingRememberE2 h3 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 14px;
    color: #2c2e31;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px; }
  #thingRememberE2 p {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    text-align: left;
    margin-bottom: 70px; }

#blueDivider {
  background-color: #3387FB;
  text-transform: uppercase; }

#ourExperienceE2 {
  padding-top: 125px;
  padding-bottom: 50px; }
  #ourExperienceE2 h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #3387FB;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  #ourExperienceE2 p, #ourExperienceE2 ul {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    margin-bottom: 50px; }
  #ourExperienceE2 ul li {
    list-style: none; }
  #ourExperienceE2 .seperateur {
    border-top: solid 1px #e6e6e6;
    padding-top: 20px; }
    #ourExperienceE2 .seperateur .left h3 {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 22px;
      color: #2c2e31; }
    #ourExperienceE2 .seperateur .left h4 {
      margin-top: 15px;
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 14px;
      color: #939393;
      letter-spacing: 1px;
      line-height: 19px; }
    #ourExperienceE2 .seperateur .right {
      text-align: center; }
      #ourExperienceE2 .seperateur .right button {
        background: linear-gradient(-90deg, #1E579A 0%, #2367B5 100%);
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 7px 15px;
        margin-top: 30px; }

@media (max-width: 767px) {
  #thingRememberE2 img {
    width: 50%; } }
@media (min-width: 768px) and (max-width: 991px) {
  #thingRememberE2 img {
    width: 35%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #detailsE2 .right {
    padding-top: 10px; }
    #detailsE2 .right li, #detailsE2 .right li.light {
      font-size: 11px; }
    #detailsE2 .right button {
      font-size: 14px;
      margin-top: 10px; } }
#headerProductEB5 {
  padding-top: 200px;
  padding-bottom: 150px;
  background-image: url("../images/bgEB5.jpg"); }
  #headerProductEB5 h1 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 31px;
    color: #2c2e31; }
  #headerProductEB5 h2 {
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-size: 16px;
    color: #4B4B4B;
    margin-bottom: 70px; }
  #headerProductEB5 p {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    margin-bottom: 70px; }
  #headerProductEB5 a {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 16px;
    color: #2eca9c; }
    #headerProductEB5 a img {
      margin-right: 15px; }

#detailsEB5 {
  padding-top: 20px;
  padding-bottom: 150px; }
  #detailsEB5 h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    margin-bottom: 50px; }
  #detailsEB5 #underline {
    height: 50px;
    border-top: solid 1px #e6e6e6; }
  #detailsEB5 #card {
    border: 1px solid #E6E6E6;
    border-radius: 4px; }
  #detailsEB5 .left {
    padding: 0; }
    #detailsEB5 .left img {
      width: 100%; }
  #detailsEB5 .right {
    padding-top: 70px; }
    #detailsEB5 .right p {
      font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
      font-size: 14px;
      color: #2c2e31; }
    #detailsEB5 .right ul {
      padding-left: 15px; }
    #detailsEB5 .right li {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 13px;
      color: #2c2e31;
      letter-spacing: 2.30px;
      text-transform: uppercase;
      line-height: 2;
      padding-left: 10px; }
      #detailsEB5 .right li.light {
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 13px;
        color: #4B4B4B;
        letter-spacing: 2.30px; }
    #detailsEB5 .right button {
      background: linear-gradient(-90deg, #1D9571 0%, #22B288 100%);
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 16px;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 7px 15px;
      margin-top: 20px; }

#thingRememberEB5 {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  #thingRememberEB5 h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 80px; }
  #thingRememberEB5 img {
    width: 70%; }
  #thingRememberEB5 h3 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 14px;
    color: #2c2e31;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px; }
  #thingRememberEB5 p {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    text-align: left;
    margin-bottom: 70px; }

#greenDivider {
  background: linear-gradient(-90deg, #2ECA9C 0%, #20C4C6 100%);
  text-transform: uppercase; }

#ourExperienceEB5 {
  padding-top: 125px;
  padding-bottom: 50px; }
  #ourExperienceEB5 h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #2eca9c;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  #ourExperienceEB5 p, #ourExperienceEB5 ul {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    margin-bottom: 50px; }
  #ourExperienceEB5 ul li {
    list-style: none; }
  #ourExperienceEB5 .seperateur {
    border-top: solid 1px #e6e6e6;
    padding-top: 20px; }
    #ourExperienceEB5 .seperateur .left h3 {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 22px;
      color: #2c2e31; }
    #ourExperienceEB5 .seperateur .left h4 {
      margin-top: 15px;
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 14px;
      color: #939393;
      letter-spacing: 1px;
      line-height: 19px; }
    #ourExperienceEB5 .seperateur .right {
      text-align: center; }
      #ourExperienceEB5 .seperateur .right button {
        background: linear-gradient(-90deg, #1D9571 0%, #22B288 100%);
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 7px 15px;
        margin-top: 30px; }

@media (max-width: 767px) {
  #thingRememberEB5 img {
    width: 50%; } }
@media (min-width: 768px) and (max-width: 991px) {
  #thingRememberEB5 img {
    width: 35%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #detailsEB5 .right {
    padding-top: 10px; }
    #detailsEB5 .right li, #detailsEB5 .right li.light {
      font-size: 11px; }
    #detailsEB5 .right button {
      font-size: 14px;
      margin-top: 10px; } }
#headerProductL1 {
  padding-top: 200px;
  padding-bottom: 150px;
  background-image: url("../images/bgL1.jpg"); }
  #headerProductL1 h1 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 31px;
    color: #2c2e31; }
  #headerProductL1 h2 {
    font-family: 'ProximaNovaRegular', Helvetica, sans-serif;
    font-size: 16px;
    color: #4B4B4B;
    margin-bottom: 70px; }
  #headerProductL1 p {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    margin-bottom: 70px; }
  #headerProductL1 a {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 16px;
    color: #4dce46; }
    #headerProductL1 a img {
      margin-right: 15px; }

#detailsL1 {
  padding-top: 20px;
  padding-bottom: 150px; }
  #detailsL1 h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    margin-bottom: 50px; }
  #detailsL1 #underline {
    height: 50px;
    border-top: solid 1px #e6e6e6; }
  #detailsL1 #card {
    border: 1px solid #E6E6E6;
    border-radius: 4px; }
  #detailsL1 .left {
    padding: 0; }
    #detailsL1 .left img {
      width: 100%; }
  #detailsL1 .right {
    padding-top: 70px; }
    #detailsL1 .right p {
      font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
      font-size: 14px;
      color: #2c2e31; }
    #detailsL1 .right ul {
      padding-left: 15px; }
    #detailsL1 .right li {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 13px;
      color: #2c2e31;
      letter-spacing: 2.30px;
      text-transform: uppercase;
      line-height: 2;
      padding-left: 10px; }
      #detailsL1 .right li.light {
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 13px;
        color: #4B4B4B;
        letter-spacing: 2.30px; }
    #detailsL1 .right button {
      background: linear-gradient(-90deg, #23921D 0%, #29B122 100%);
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 16px;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 7px 15px;
      margin-top: 20px; }

#thingRememberL1 {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center; }
  #thingRememberL1 h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #444444;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 80px; }
  #thingRememberL1 img {
    width: 70%; }
  #thingRememberL1 h3 {
    font-family: 'ProximaNovaSemiBold', Helvetica, sans-serif;
    font-size: 14px;
    color: #2c2e31;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px; }
  #thingRememberL1 p {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    text-align: left;
    margin-bottom: 70px; }

#L1Divider {
  background: linear-gradient(-90deg, #4DCE46 0%, #78D858 100%);
  text-transform: uppercase; }

#ourExperienceL1 {
  padding-top: 125px;
  padding-bottom: 50px; }
  #ourExperienceL1 h2 {
    font-family: 'AvenirNextRegular', Helvetica, sans-serif;
    font-size: 19px;
    color: #4dce46;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  #ourExperienceL1 p, #ourExperienceL1 ul {
    font-family: 'ProximaNovaLight', Helvetica, sans-serif;
    font-size: 15px;
    color: #4B4B4B;
    line-height: 22px;
    margin-bottom: 50px; }
  #ourExperienceL1 ul li {
    list-style: none; }
  #ourExperienceL1 .seperateur {
    border-top: solid 1px #e6e6e6;
    padding-top: 20px; }
    #ourExperienceL1 .seperateur .left h3 {
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 22px;
      color: #2c2e31; }
    #ourExperienceL1 .seperateur .left h4 {
      margin-top: 15px;
      font-family: 'AvenirNextRegular', Helvetica, sans-serif;
      font-size: 14px;
      color: #939393;
      letter-spacing: 1px;
      line-height: 19px; }
    #ourExperienceL1 .seperateur .right {
      text-align: center; }
      #ourExperienceL1 .seperateur .right button {
        background: linear-gradient(-90deg, #23921D 0%, #29B122 100%);
        font-family: 'AvenirNextRegular', Helvetica, sans-serif;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 7px 15px;
        margin-top: 30px; }

@media (max-width: 767px) {
  #thingRememberL1 img {
    width: 50%; } }
@media (min-width: 768px) and (max-width: 991px) {
  #thingRememberL1 img {
    width: 35%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #detailsL1 .right {
    padding-top: 10px; }
    #detailsL1 .right li, #detailsL1 .right li.light {
      font-size: 11px; }
    #detailsL1 .right button {
      font-size: 14px;
      margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
