/* Avenir Next */

@font-face {
  font-family: 'AvenirNextLight';
  src: url('../fonts/AvenirNextLTPro-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: 'AvenirNextRegular';
  src: url('../fonts/AvenirNext-Regular.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'AvenirNextMedium';
  src: url('../fonts/AvenirNext-Medium.eot'),
       url('../fonts/AvenirNextMedium.woff2'),
       url('../fonts/AvenirNext-Medium.woff'),
       url('../fonts/AvenirNext-Medium.otf'),
       url('../fonts/AvenirNext-Medium.ttf'),;
  font-weight: 400;
}

@font-face {
  font-family: 'AvenirNextDemiBold';
  src: url('../fonts/AvenirNext-DemiBold.otf');
  font-weight: 500;
}


/* Proxima nova */

@font-face {
  font-family: 'ProximaNovaThin';
  src: url('../fonts/ProximaNovaT-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url('../fonts/ProximaNova-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova-Regular.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url('../fonts/ProximaNova-Semibold.otf');
  font-weight: 400;
  font-style: normal;
}


/* ACaslonPro */

@font-face {
  font-family: 'Caslon';
  src: url('../fonts/ACaslonPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}