/* Navbar */

#navbar{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #FFFFFF;
  border: none;
  margin-bottom: 0;
  box-shadow: 0px 1px 2px 0px rgba(114,114,116,0.69);
}

#navbar img {
  width: 200px;
}

#navbar .navbar-brand {
  height: auto;
  padding:0;
}

nav .navbar-nav > li {
  padding-top: 1rem;
}

nav .navbar-nav > li > a {
  padding: 0;
}

nav .navbar-nav .listNavbar>a{
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11px;
  color: #939393;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 3.5rem;
  &:hover {
    color: $darkRed;
  }
}

#nav-tel {
  color: $gray;
  font-family: "AvenirNextMedium", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

/* Header */

header {
  background-image: url(../images/bg.jpg);
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
}

header>h2 {
  margin-left: 4rem;
  margin-bottom: 0.7rem;
}

#subtitle-header {
  margin-bottom: 2rem;
}

header .divider{
  background-color: transparent;
  border-bottom: 1px solid #979797;
  margin-bottom: 2.7rem;
  padding-left: 0;
}

a#btn-reviews {
  float: left;
}

/* code for animated blinking cursor */
header .divider .typed-cursor{
    opacity: 1;
    color:  rgba(0,197,149,0.46);
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

header .divider .type-wrap{
  color: white;
  padding-top: 70px;
  font-family: 'AvenirNextDemiBold', Helvetica, sans-serif;
  font-size: 101pt;
  display: block;
}

header h2 {
  font-family: "AvenirNextLight", Helvetica, sans-serif;
  font-size: 17px;
  color: #fff;
}

header h2>strong {
  font-family: "AvenirNextDemiBold", Helvetica, sans-serif;
}

header>a {
  padding: 0.5rem 0rem 0rem 4rem;
}

header form {
  margin-bottom: 8rem;
}

header form .input div {
  padding: 0;
  padding-left: 7px;
}
header form .input div:first-child {
  padding-left: 0;
  padding-right: 7px;
}

header form input {
  width: 100%;
}

#submitForm {
  margin-top: 0.7rem;
}

header .row-form {
  position: relative;
}

header .row-form .btn-reviews {
  position: absolute;
   bottom: 8rem;
   right: 0;
}

header .row-form .btn-reviews img {
  width: 14rem;
}

/* Carousel Bootstrap */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#textCarroussel .carousel {
  height: 450px;
  background: linear-gradient(-90deg, #8697A5 1%, #6E7982 99%);
}
/* Since positioning the image, we need to help out the caption */
#textCarroussel .carousel-caption {
  z-index: 10;
  bottom: 90px;
}

/* Declare heights because of positioning of img element */
#textCarroussel .carousel .item {
  height: 450px;
  background: transparent;
}

.carousel-control.left, .carousel-control.right {
  background: none;
}

.carousel-control {
  width: 8%;
}

.carousel-control img {
  position: absolute;
  top: 45%;
}

.carousel-control:hover {
  background: none;
}

#textCarroussel .carousel-caption p {
  text-transform: uppercase;
  text-align: left;
  font-family: "AvenirNextMedium", Helvetica, sans-serif;
  font-size: 35pt;
  color: #ffffff;
  letter-spacing: 6.54px;
  margin-bottom: 0;
  line-height: 1.2;
}

#textCarroussel .carousel-caption p:last-child {
  margin-top: 40px;
  font-size: 19px;
  color: #D9D9D9  ;
  letter-spacing: 2.88pt;
}

@media (max-width: 767px) {
  header {

    .divider {
      padding-left: 15px;

      .type-wrap{
        font-size: 80pt;
      }
    }
    .no-padding {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
    form .input div {
      padding-left: 15px;
      padding-right: 15px;

      &:first-child {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  #textCarroussel{
    .carousel-caption {
      // bottom: 10px !important;
      left: 10px;
      right: 10px;

      p {
        font-size: 25pt !important;

        &:last-child {
          font-size: 17px !important;
        }
      }
    }
  }

}
