/* I NEED A BUSINESS PLAN SERVICE FOR MY VISA */
    /* Title */

#products>div>div>div>h2 {
  color: #6E7982;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

#underlineProduct {
  width: 100%;
  height: 3px;
  background-image: linear-gradient(-90deg, #EEEEEE 80%, #00C595 100%);
  margin-bottom: 3rem;
}

    /* Products */
.product {
  display: inline-block;
  padding: 0rem 1.4rem 0rem 1rem;
  margin-right: 2rem;
}

#E2>h2 {
  color: $colorE2;
}

#L1>h2 {
  color: $colorL1;
}

#EB5>h2 {
  color: $colorEB5;
}

.product>h2 {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 48px;
  padding-top: 1.5rem;
}
  
.product>h3 {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 22px;
  color: $gray;
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;
  line-height: 30px;
}

.product>p {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 15px;
  color: #7B7C7E;
  line-height: 24px;
  padding-top: 1.5rem;
  padding-bottom: 6rem;
}

.productDivider {
  width: 100%;
  height: 1px;
  background: #C2C2C2;
}

    /* Call to Action Bottom */

#cta-E2 {
  background: $gradianE2;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#cta-L1 {
  background: $gradianL1;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#cta-EB5 {
  background: $gradianEB5;
  width: 100%;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

    /* Btn Others Visas */

#othersVisas {
  font-family: 'AvenirNextRegular', Helvetica, sans-serif;
  font-size: 22px;
  color: $gray;
  text-decoration:underline;
  border-bottom: 1.5px solid $gray;
  display: inline-block;
  line-height: 25px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  &:hover {
    color: #7B7C7E;
    border-color: #7B7C7E;
  }
}


    /* Hover products */

#E2 {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#L1 {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#EB5 {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#E2:hover #cta-E2 {
  height: 30px;
}

#E2:hover h2{ color: white; } #E2:hover h3{ color: white; } #E2:hover p{ color: white; }

#L1:hover #cta-L1 {
  height: 30px;
}

#L1:hover h2{ color: white; } #L1:hover h3{ color: white; } #L1:hover p{ color: white; }

#EB5:hover #cta-EB5 {
  height: 30px;
}

#EB5:hover h2{ color: white; } #EB5:hover h3{ color: white; } #EB5:hover p{ color: white; }

.product:hover {
  background-color: #6E7982;
}